<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="/css/style.css">
   <title>Главная</title>
</head>

<body>
   <%- include('blocks/header') -%>
</body>

</html>