<form method="post" class="select add" action="/add">
   <label class="select__label" for="addDay">День</label>
   <input class="select__day" name="addDay" type="text" required maxlength="2" autocomplete="off">
   <label class="select__label" for="addMonth">Месяц</label>
   <select class="select__input" name="addMonth" id="add-month">
      <option class="select__month-item" value="1">Январь</option>
      <option class="select__month-item" value="2">Февраль</option>
      <option class="select__month-item" value="3">Март</option>
      <option class="select__month-item" value="4">Апрель</option>
      <option class="select__month-item" value="5">Май</option>
      <option class="select__month-item" value="6">Июнь</option>
      <option class="select__month-item" value="7">Июль</option>
      <option class="select__month-item" value="8">Август</option>
      <option class="select__month-item" value="9">Сентябрь</option>
      <option class="select__month-item" value="10">Октябрь</option>
      <option class="select__month-item" value="11">Ноябрь</option>
      <option class="select__month-item" value="12">Декабрь</option>
   </select>
   <label class="select__label" for="addYear">Год</label>
   <select class="select__input" name="addYear" id="year">
      <option class="select__year-item" value="2022">2022</option>
      <option class="select__year-item" value="2023">2023</option>
   </select>
   <label class="select__label" for="addTime">Минут</label>
   <input class="select__day" name="addTime" type="text" required maxlength="4" autocomplete="off">
   <label class="select__label" for="addRate">Оценка</label>
   <select class="select__input" name="addRate" id="rate">
      <option class="select__rate-item" value="1">1</option>
      <option class="select__rate-item" value="2">2</option>
      <option class="select__rate-item" value="3">3</option>
      <option class="select__rate-item" value="4">4</option>
      <option class="select__rate-item" value="5">5</option>
   </select>
   <button class="select__submit add-button" type="submit">Добавить день
   </button>
</form>