<form method="post" class="select" action="result/">

   <label class="select__label" for="month">Выбрать месяц</label>
   <select class="select__input" name="month" id="month">
      <option class="select__month-item" value="1">Январь</option>
      <option class="select__month-item" value="2">Февраль</option>
      <option class="select__month-item" value="3">Март</option>
      <option class="select__month-item" value="4">Апрель</option>
      <option class="select__month-item" value="5">Май</option>
      <option class="select__month-item" value="6">Июнь</option>
      <option class="select__month-item" value="7">Июль</option>
      <option class="select__month-item" value="8">Август</option>
      <option class="select__month-item" value="9">Сентябрь</option>
      <option class="select__month-item" value="10">Октябрь</option>
      <option class="select__month-item" value="11">Ноябрь</option>
      <option class="select__month-item" value="12">Декабрь</option>
   </select>
   <button class="select__submit" type="submit">Принять
   </button>
</form>